<!-- <mat-card>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="start" (selectChange)="tabSelectionChanged($event)">
      <mat-tab label="Active Orders">
        <ng-template matTabContent>
          <app-orders [isActiveOrders]="true"></app-orders>
        </ng-template>
      </mat-tab>
      <mat-tab label="Previous Orders">
        <ng-template matTabContent>
          <app-orders [isActiveOrders]="false"></app-orders>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card> -->
<app-orders [isActiveOrders]="true"></app-orders>
