.right-align {
    right: 24px;
    position: absolute;
  
    mat-chip {
      width: 32px;
    }
  }
  
  mat-card {
    margin-bottom: 10px;
  }
  
  .mr-10 {
    margin-right: 10px;
  }
  
  .ml-10 {
    margin-left: 10px;
  }
  
  mat-form-field {
    width: 100%;
  }
  